<ion-header>
  <ion-toolbar>
    <ion-title>
      Diet App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <div [hidden]="submitted">
    <h1>Register user</h1>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="model.phone" required>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="model.dateOfBirth" required>
      </div>

      <div class="form-group">
        <label for="heightInCm">Height (in cm)</label>
        <input type="number" class="form-control" id="heightInCm" name="heightInCm" [(ngModel)]="model.heightInCm" required>
      </div>

      <div class="form-group">
        <label for="weightInKg">Weight (in kg)</label>
        <input type="number" class="form-control" id="weightInKg" name="weightInKg" [(ngModel)]="model.weightInKg" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" required>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="model.confirmPassword" required>
      </div>

      <button type="submit" [disabled]="!registerForm.form.valid" (click)="register(model)" class="btn btn-success" style="margin-right: 20px;">Submit</button>
      <a [routerLink]="['/']" class="btn btn-primary">Cancel</a>

    </form>
  </div>

  <!-- <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
          <div class="col-xs-3">Day of diet</div>
          <div class="col-xs-9">{{ model.day }}</div>
      </div>
      <div class="row">
        <h3>Breakfast</h3>
        <div class="col-xs-3">Meal</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9">{{ model.alterEgo }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9">{{ model.power }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div> -->
</div>
</ion-content>